.register-page{
	display: flex;
	width: 100vw;
	height: 100vh;

	color: var(--color-text-in-primary);
	background:var(--color-primary);
}

.register-background{
	width: 0;
	height: 100vh;
}

.register-form{
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: var(--color-background)
}

.register-form h1{
	color:var(--color-text-title);
	font-family: 'Poppins';
	font-size:3.4rem;
	font-weight: 600;
	line-height: 3.5rem;
	width: 50%;
	margin-bottom: 1.2rem;
}

.register-form .inputGroup{
	width: 50%;
	color: var( --color-text-complement);
	position: relative;

}

.register-form .inputGroup label{
	color: transparent;
	font-size: 1.1rem;

}
.register-form .inputGroup .labelColor{
	color: var( --color-text-complement);
}
.register-form .inputGroup input{
	border:0;
	height: 4rem;
	width: 100%;
	color: var( --color-text-complement);
	outline: 0;
}

.register-form .inputGroup button{
	position: absolute;
	border:0;
	outline: 0;
	top:3rem;
	cursor:pointer;
}
.register-form .inputGroup button img{
	height:2rem;
}

.register-form > button{
	width: 50%;
	margin-top:2rem;
	background:#DCDCE5;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 5rem;
	border-radius:0.8rem;
	font: 700 2rem Archivo;
	border:none;
	outline: 0;
	color: var( --color-text-complement);
	transition: background-color 0.2s;
}
.register-form > button.buttonReady{
	cursor: pointer;
	background:var(--color-secundary);
	color:var(--color-button-text);
}
.register-form > button.buttonReady:hover{
	background:  var(--color-secundary-dark)
}
.backgroundImage{
	width: 100%;
}

.inputGroup:focus-within::after {
	width: 2px;
	height: 6.1rem;
	content: "";
	background-color: var(--color-primary-light);
	position: absolute;
	left:-1rem;
	top:0;
}

.register-form .registerBlock{
	width: 50%;
	display: flex;
	justify-content: space-between;
	margin-top: 6rem;
}

@media(min-width: 600px){
	.register-background{
		width: 35vw;
	}
	.register-form{
		width: 65vw;
	}

}